:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg: lightgrey;
    --highlight-color: #FFD54F;
    --footer-color: lightgrey;
}

body.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
    --header-bg: #333333;
    --highlight-color: #FFD54F;
    --footer-color: #333333;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.info {
    background-color: var(--header-bg);
    font-size: 18px;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.profile {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.about {
    flex: 4;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image img {
    width: 150px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}

main {
    margin-left: 40px;
    margin-right: 40px;
}

.summary {
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
}

h2 {
    display: inline-block;
    background-color: var(--highlight-color);
}

.education .sub div h4 {
    margin-left: 20px;
}

.education .sub div p {
    margin-left: 40px;
}

h2, h4 {
    margin-block:  10px;
}

.education p, .experience p {
    margin-block: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

footer {
    font-size: 12px;
    color: var(--footer-color);
}

@media (max-width: 768px) {

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .summary {
        flex-direction: column;
    }
}

@media (max-width: 600px) {

    main {
        margin-left: 15px;
        margin-right: 15px;
    }
}